<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--以url_for('result')形式,相当于/result,动态替换url:http://localhost:5000/result-->
    <form action="{{ url_for('result')}}" method="post">
        <p>姓名：<input type="text" name="jack"></p>
        <p>年龄：<input type="text" name="20"></p>
        <p>性别：<input type="text" name="女"></p>
        <p>地址：<input type="text" name="北京"></p>
        <button type="submit">提交</button>
    </form>
</body>
</html>